@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');


body {
    background-color: #121212;
    color: #898be9;
    font-family: monospace, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-size: 250%;
    font-family: "Meow Script", monospace;
    margin-bottom: 1rem;
    animation: popIn 0.6s ease-in-out;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;

}

@keyframes popIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.search-box {
    margin-bottom: 1rem;
    animation: fadeIn 1s ease-in 0.2s backwards;
}

input {
    padding: 0.5rem;
    width: 75vw;
    max-width: 350px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px #898be9;
}

.buttons {
    /* width: 75vw; */
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    animation: fadeIn 1s ease-in 0.4s backwards;
}

button {
    padding: 0.5rem 1rem;
    background-color: #898be9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s ease, background-color 0.3s ease;
    font-family: "Geo", monospace;
    font-size: 1rem;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;

}

button:hover {
    background-color: #5f60a5;
    transform: translateY(-3px);
}

.result {
    text-align: left;
    width: 100%;
    max-width: 500px;
    background: #000000;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    transition: opacity 0.3s ease;
    color: #c352c7;
}

.result p {
    margin: 0.3rem 0;
}

.result span {
    color: #6cb2e7;
}

.result .unit {
    color: #f3f5ff;
}